*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
h1 {
  text-align: center;
}
h4 {
    text-align: center;
    color: #778899;
}
body {
  font-family: "Calibri", sans-serif;
}
.part1 {
    background-color: #6FFF9F;
    border-radius: 10px;
    color: black;
    padding: 15px;
}
h2 {
    margin: 15px;
    text-align: center;
}
.concept1 {
    background-color: #DFFFEA;
    padding: 5px;
    margin: 8px;
    border-radius: 5px;
    color: black;
    width: 350px;
}
.container1 {
  display: flex;
} 
.part2 {
    background-color: #6FFF9F;
    border-radius: 10px;
    color: black;
    padding: 15px;
}
.concept2 {
    background-color: #DFFFEA;
    padding: 5px;
    margin: 8px;
    border-radius: 5px;
    color: black;
    width: 500px;
}
.container2 {
  display: flex;
} 
.title {
    font-size: 20px;
    margin: 8px;
    text-align: center;
    color: #778899;
}
.description {
    font-weight: lighter;
    margin: 20px;
}
.part2 {
    background-color: #6FFF9F;
    border-radius: 10px;
    color: black;
    padding: 15px;
}

.italic {
     color: #778899; 
     font-style: italic;
}
.img {
    width: 100%
}